.menuCard {
    width: calc(90% / 2);
    height: calc(70vh / 2);
    margin: 10px 1%;
    min-height: 220px;
    box-shadow: 0 1px 11px 0 rgba(190, 190, 190, 0.788);
    transition-duration: 150ms;
    cursor: pointer;
    &:hover {
        transform: scale(1.06);
    }
    a {
        display: inline-block;
        padding: 25px;
        height: 100%;
        width: 100%;
    }
}


.menuCard_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    color: #333333;
    
}
.logo {
    padding: 10px 0;
}
.name {
    font-size: 18px;
}
.description {
    margin: 10px 0;
    color: #a1a1a1;
}