.homeConteiner {
    width: 65%;
    margin: 60px auto;
    height: 500px;
}
.home {
    display: flex;
    height: 100%;
    width: 100%;
}
.home_getStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    margin-right: 3%;
    span {
        display: block;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 0 1px 2px rgb(77, 77, 77);
        font-weight: 600;
    }
}

.home_second_title { 
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.home_three_title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.home_first_title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.home_image {
    display: flex;
    align-items: center;
    height: 100%;
}
.home_picture {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.6;
    img {
        width: 100%;
        height: 110vh;
        object-fit: cover;
        object-position: 50% 0;
    }
}

.buttonLinkToAnotherPage {
    display: inline-block;
    width: 40%;
    a, button {
        display: block;
        width: 100%;
    }
}

.home_bt_gt_st {
    width: 50%;
    margin: 0 auto;
    height: 55px;
    min-width: 150px;
    background-color: #fff;
    transition-duration: 200ms;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 3px 0 rgb(184, 184, 184);
    }
}