.wrapperDictionary {
    width: 85%;
    margin: 40px auto;
}
.dictionaryCards {
   padding: 20px;
}

.topLineDictionary {
    display: flex;
    align-items: center;
}
.quantityWords {
    display: flex;
    height: 80%;
    align-self: center;
    margin-left: 30px;
    margin-top: 8px;
    span {
        font-size: 15px;
        color: #999999;
    }
}

.inputSearcWord {
    width: 25%;
    min-width: 200px;
    margin: 10px 0 0 18px;
    height: 40px;
    padding: 0 20px;
    color: rgb(83, 83, 83);
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #d1d1d1;
}

