.panelPronWord {
    position: absolute;
    z-index: 15;
    background-color: #ffffff;
    color: aliceblue;
    margin-top: 16px;
    box-shadow: 0 1px 10px 0 rgb(182, 182, 182);
    border-radius: 10px;
    min-width: 110px;
    min-height: 60px;
}

.transcription {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
    span {
        color: #303030;
    }
}

.notFound {
    height: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #cf1717;
}

.wrapper {
    height: 100%;
    padding: 10px 20px;
}
