.translator {
    width: 85%;
    margin: 50px auto;
    padding-bottom: 50px;
}
.translator_inputRes {
    display: flex;
}
.translator_form {
    width: 60%;
    form {
        display: flex;
        margin-right: 15px;
    }
}
.countryPron {
    font-size: 15px;
    margin: 0 15px;
    color: #ce3434;
}
.translator_word_search {
    width: 130px;
    margin-left: 15px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition-duration: 100ms;
    &:hover {
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(192, 192, 192, 0.712);
        background-color: rgb(196, 56, 56);
    }
}
.translator_word {
    height: 45px;
    width: 100%;
    font-size: 15px;
    padding: 0 15px;
    text-transform: capitalize;
    border: solid 1px rgb(202, 202, 202);
}
.result {
    display: flex;
    width: 40%;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 600;
}

.listenWord {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    li {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        width: auto;
        line-height: 47px;
        height: 40px;
    }
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        left: 0;
        top: 40px;
        bottom: 0;
        background-color: #ffffff;
        transition-duration: 800ms;
        box-shadow: 0 -2px 13px 0 #ffffff;
        transition-delay: 400ms;
    }
    &:hover {
        &::after {
            content: '';
            left: 0;
            top: 100%;
        }
    }
}

.transcription {
    font-size: 22px;
    color: rgb(83, 83, 83);
    
}

.definiton {
    margin-top: 30px;
}

.titleDefintion {
    font-size: 20px;
}

.foundedWord {
    color: #1a5577;
    font-size: 27px;
    line-height: 45px;
    flex-grow: 1;
}

.svgAudio {
    width: 30%;
    height: 100%;
    min-width: 30px;
    min-height: 25px;
    cursor: pointer;
    padding: 8px;
    transform: translateY(3.5px);
}

.loadedAnimationApi {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width: 30%;
    min-width: 250px;
    span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: solid 2px rgb(163, 163, 163);
        margin-right: 10px;
        border-radius: 50%;
    }
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: rgb(255, 255, 255);
        left: 0;
        height: 100%;
        width: 100%;
        animation: animLoadedCircle 1s linear infinite 100ms;
    }
}

.emptyTranslatorSearch {
    margin: 80px 0;
    font-size: 20px;
    color: #ce3434;
}

.errorSearc {
    color: #a0a0a0;
    margin: 30px 0;
    font-size: 18px;
}

@keyframes animLoadedCircle {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}