.audioWord {
    min-width: 40px;
    svg {
        cursor: pointer;
    }
    padding: 5px;
}
.animationSoundPlayClass {
    animation: animationSoundPlay 400ms ease-out infinite;
}

.pronCountry {
    font-size: 13px;
    color: rgb(36, 36, 36);
}

@keyframes animationSoundPlay {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}