.header {
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgb(231, 231, 231);
    background-color: #fff;
}

.wrapper_header {
    display: flex;
    justify-content: space-between;
    width: 67%;
    line-height: 80px;
    margin: 0 auto;
}
.header_home {
    padding: 0 15px;
    max-height: 60px;
    transform: translateY(9px);
    cursor: pointer;
    transition-duration: 100ms;
    &:hover {
        svg {
            fill: #186183;
        }
    }
    
}
.header_buttons {

}
.links {
    display: flex;
    a {
        padding: 12px 20px;
        border: solid 1px rgb(202, 202, 202);
        margin-left: 10px;
        transition-duration: 200ms;
        &:hover {
            border-color: #333333;
        }
    }
}