* {
  list-style: none;
  color: #1d1d1d;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-family: 'Archivo', sans-serif;
  box-sizing: border-box;
}

#root,
html,
body, 
main {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  max-width: 1600px;
}

::selection {
  background-color: #ebe3e3;
  color: #000;
}