.flashCardsWrapper {
    width: 85%;
    margin: 20px auto;
}
.flashCardsTop {
    display: flex;
    height: calc(100vh / 1.5);
    min-height: 450px;
    transition-duration: 1200ms;
    transition-delay: 1.2s;
    
}
.flashCard_picture {
    position: relative;
    width: 75%;
    margin: 0 auto;
    padding: 9px;
    box-shadow: 0 1px 13px 0 rgb(197, 197, 197);
    border-radius: 2px;
    transition-duration: 400ms;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        object-position: 50% 20%;
    }
}

.rightAnwser {
    background-color: rgba(63, 221, 63, 0.863);
    border-radius: 5px;
}

.wrongAnwser {
    background-color: rgba(236, 13, 13, 0.822);
}

.hint {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(110, 110, 110);
    font-weight: 400;
}

.falshCardActionPanel {
    position: absolute;
    display: flex;
    top: 30px;  
    right: 20px;
}

.flasCardSoundBt,
.flasCardEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 7px;
    box-shadow: 0 0 2px 1px rgb(173, 173, 173);
    cursor: pointer;
    transition-duration: 200ms;
    &:hover {
        transform: scale(1.05);
    }
}

.flashCard_bottomPanel {
    display: flex;
    height: calc(100vh / 2.5);
    margin: 20px 0;
}
.flashCard_describeCard {
    width: 100%;
    margin-right: 2%;
}

.falschCard_word {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 40px 0;
    text-transform: uppercase;
}

.falschCard_definitionExamples {
    margin-bottom: 100px;
}

.flashCard_buttonRightCard {
    width: 10%;
    height: 100%;
   
}
.btFlashCards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.falschCard_inputWord {
    width: 50%;
    min-width: 200px;
    margin: 30px auto;
    input {
        height: 48px;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 8px;
        color:rgb(44, 44, 44);
        text-transform: uppercase;
        text-align: center;
        box-shadow: 0 0 5px 0 rgb(163, 163, 163);
    }
}